name: ip.yaml
on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  ip:
    runs-on: ubuntu-latest

    steps:
      - name: clone
        uses: actions/checkout@v4
      - name: 筛选ip
        run: |
          ./CloudflareST_proxy_linux_amd64 -f Cloudflare.txt -n 200 -dn 10 -sl 0.1 -tl 333 -url https://speed.cloudflare.com/__down?bytes=20000000 \
          -o result.csv -cfcolo HKG -debug
        

      - name: 保存结果文件
        uses: actions/upload-artifact@v4
        with:
          name: Cloudflare-Best-IPs
          path: ./*.csv
