name: ip.yaml
on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  ip:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/byjoey/yx-tools:latest
      options: --user root
    steps:
      - name: 查看服务器网速
        run: |
          pip install speedtest-cli
          speedtest
      - name: 筛选ip
        run: |
          cd /app
          # 1. 赋予执行权限
          chmod +x CloudflareST_proxy_linux_amd64
          
          # 2. 直接运行二进制文件，避免 Python 脚本的干扰
          # -n 100: 只测前 100 个延迟低的 IP
          # -sl 0.01: 极大地降低速度要求（先确保能出结果，再慢慢调高）
          # -url: 换一个更小的测速文件 (20MB) 
          ./CloudflareST_proxy_linux_amd64 \
            -f Cloudflare.txt \
            -n 100 -dn 5 -sl 0.1 -tl 300 \
            -url "https://speed.cloudflare.com/__down?bytes=20000000" \
            -o "/__w/study_hard/study_hard/result.csv"
          # 3. 检查当前目录下是否有生成的残留，并打印
          echo "--- 检查目录 ---"
          ls -lh /__w/study_hard/study_hard/

      - name: 保存结果文件
        uses: actions/upload-artifact@v4
        with:
          name: Cloudflare-Best-IPs
          path: ./*.csv # 匹配当前目录下所有的 csv
