name: ip.yaml
on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  ip:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/byjoey/yx-tools:latest
      options: --user root
    steps:
      - name: 查看服务器网速
        run: |
          pip install speedtest-cli
          speedtest
      - name: 筛选ip
        run: |
          python3 /app/cloudflare_speedtest.py --mode beginner --count 5 --speed 1 --delay 2000 --region NRT
          # 【关键点】打印结果到日志，省得每次都要下载文件看
          echo "--- 优选结果展示 ---"
          ls -al
          # 拷贝到当前工作目录，确保 artifact 顺利抓取
          cp /app/result.csv ${{ github.workspace }}/result.csv

      - name: 保存结果文件
        uses: actions/upload-artifact@v4
        with:
          name: Cloudflare-Best-IPs
          path: ${{ github.workspace }}/result.csv
